@{
    ViewBag.Title = "Welcome to ChatR";
}
<a href="https://github.com/vgheri/ChatR"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{    
    <div id="form-container">       
            <h1>ChatR</h1>
            <span id="description">Simple chat built upon SignalR</span>
            <div id="input-box">
                <label for="username">Choose a user name to start</label>
                <input type="text" id="username" class="input-medium search-query" placeholder="Type here..." name="username" autofocus="autofocus" maxlength="15" required="required" />
                <button type="submit" class="btn btn-success btn-large">Go Chat</button>               
            </div>
    </div>
}