body 
{
	font-family: Helvetica;
}

h1 
{
	font-size: 50px;    
	padding-bottom: 20px;
}

#form-container 
{
	display: block;
	height: 500px;
	width: 700px;    
	margin: 0 auto;
	margin-top: 5%;
}


#description {
	font-size: larger;
}

#input-box 
{
	margin-top: 40px;
}

label 
{    
	font-size: 18px;
}

input, button 
{
	margin-top: 15px;
	margin-right: 25px;
}

#username
{    
	height: 20px;
	width: 250px;
	line-height: 25px;
	font-size: 25px;
	font-weight: 300;
	padding: 12px; 
	color: #353535;
	letter-spacing: 1px;
	font-family: museo-sans-rounded;
}


/* Chat specific style */
#chat-list 
{    
    height: 600px;
    overflow-y: auto;
    overflow-style: marquee-line;
	
    border: 1px solid gray;
    -moz-border-radius: 2px;
    border-radius: 2px;     
}

#chat-list div 
{
    float:left;
}

#chat-list ul {
	list-style: none;				
}

#chat-list ul li 
{
    float:left;
	display:inline;
	margin-left: -25px;
	border-bottom: 1px solid gray;
}

.chat-listitem-username 
{
    display:block;
    float: left;
    width: 150px;
    padding: 5px;
    margin-left: 0;    
    background-color:Gray;
}

.chat-listitem-message 
{   
    width:500px;
    padding: 5px;    
    word-wrap: break-word;    
}

.chat-listitem-timestamp 
{   
    text-align: center;
    font-weight:lighter;    
    padding: 5px;    
    width: 85px;    
    background-color:Gray;       
}

#users-list 
{
    height: 600px;
    overflow-y: auto;
    border: 1px solid gray;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#compose 
{
    margin-top: 30px;
}

#compose-box 
{    
    width: 650px;
}

#send-btn 
{
    margin-top:5px;
    width: 100px;
}   
    
    