html {
	width:100%;
    height:100%;
}

body 
{
	font-family: Helvetica;		
	width:100%;
    height:100%;
    background-color: #F2F2F2;
}

#header {
	background: #ffc578; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYzU3OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYjlkMjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffc578 0%, #fb9d23 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc578), color-stop(100%,#fb9d23)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffc578 0%,#fb9d23 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffc578 0%,#fb9d23 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffc578 0%,#fb9d23 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffc578 0%,#fb9d23 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-8 */
    border-bottom: 2px solid black;
    box-shadow: 2px 2px 5px gray;
    height: 40px;    
}

#header-title
{
    margin-top: 10px;    
    font-size: 30px;
    font-weight: bold;        
}

h1 
{
	font-size: 50px;    
	padding-bottom: 20px;	
}

h2 
{
	font-size: 25px;    	
	padding-left: 20px;
	font-weight: lighter;
}

#myContainer 
{   
    margin-top: 40px;
        
}


#form-container 
{
	display: block;
	height: 500px;
	width: 700px;    
	margin: 0 auto;
	margin-top: 5%;
}


#description {
	font-size: larger;
}

#input-box 
{
	margin-top: 40px;
}

label 
{    
	font-size: 18px;
}

input, button 
{
	margin-top: 15px;
	margin-right: 25px;
}

#username
{    
	height: 20px;
	width: 250px;
	line-height: 25px;
	font-size: 25px;
	font-weight: 300;
	padding: 12px; 
	color: #353535;
	letter-spacing: 1px;
	font-family: museo-sans-rounded;
}


/* Chat specific style */
#chat-list 
{    
    height: 600px;
    overflow-y: auto;
    overflow-style: marquee-line;
	
    border: 1px solid gray;
    -moz-border-radius: 2px;
    border-radius: 2px;     
}

#chat-list div 
{
    float:left;
}

#chat-list ul {
	list-style: none;				
}

#chat-list ul li 
{
    float:left;
	display:inline;
	margin-left: -25px;
	border-bottom: 1px solid gray;
}

.chat-listitem-username 
{
    display:block;
    float: left;
    width: 150px;
    padding: 5px;
    margin-left: 0;    
    background-color:Gray;
}

.chat-listitem-message 
{   
    width:500px;
    padding: 5px;    
    word-wrap: break-word;    
}

.chat-listitem-timestamp 
{   
    text-align: center;
    font-weight:lighter;    
    padding: 5px;    
    width: 85px;    
    background-color:Gray;       
}

#users-list 
{
    height: 600px;
    overflow-y: auto;
    border: 1px solid gray;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#compose 
{
    margin-top: 30px;
}

#compose-box 
{    
    width: 650px;
}

#send-btn 
{
    margin-top:5px;
    width: 100px;
}   
    
    