body 
{
	font-family: Helvetica;
}

h1 
{
	font-size: 50px;    
	padding-bottom: 20px;
}

#form-container 
{
	display: block;
	height: 500px;
	width: 700px;    
	margin: 0 auto;
	margin-top: 5%;
}


#description {
	font-size: larger;
}

#input-box 
{
	margin-top: 40px;
}

label 
{    
	font-size: 18px;
}

input, button 
{
	margin-top: 15px;
	margin-right: 25px;
}

#username
{    
	height: 20px;
	width: 250px;
	line-height: 25px;
	font-size: 25px;
	font-weight: 300;
	padding: 12px; 
	color: #353535;
	letter-spacing: 1px;
	font-family: museo-sans-rounded;
}


/* Chat specific style */
#chat-list 
{    
    height: 550px;
    overflow-y: auto;    
    border: 1px solid gray;
    -moz-border-radius: 3px;
    border-radius: 3px;    
}

#users-list 
{
    height: 550px;
    overflow-y: auto;
    border: 1px solid gray;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#compose-box 
{
    width: 500px;
}
    
.chat-message 
{
    padding: 5px;
}

    
    